* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
}

body {
    margin-top: 100px;
}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    color: #657b8e;
    letter-spacing: 1px;
    line-height: 1.8;
}


/* UTILITIES */
.w-text {
    color: white;
}

.b-text{
    color: #0084fd;
}

.v-text {
    color: #9792e4;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.fix-width {
    max-width: 1300px;
    width: 80%;
    margin: auto;
}

.jc-end {
    justify-content: end;
}

.fourty {
    width: 40%;
}

.fifty {
    width: 50%;
}

.sixty {
    width: 60%;
}

.m-auto {
    margin: auto;
}

.m-bottom {
    margin-bottom: 10px;
}

.m-top {
    margin-top: 10px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.padding-top {
    padding-top: 20px;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
}

.violet {
    background-color: #9792e4;
}

.blue {
    background-color: #0084fd;
}

.white {
    background-color: white;
    margin: 20px 0;
}

.br10 {
    border-radius: 10px;
}

.br20 {
    border-radius: 20px;
}

.a-center {
    text-align: center;
}

.button {
    padding: 10px 20px;
    border-radius: 40px;
}

.f-size3{
    font-size: 3rem;
}

/* BODY */
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    height: 100px;
    background-color: #0084fd;
}

.logo {
    line-height: 100px;
}

.nav {
    text-align: end;
}

.menu {
    color: white;
    height: 0px;
    width: 0%;
    overflow: hidden;
}

.hamb {
    color: white;
    line-height: 100px;
}

.card {
    background-color: #b5ddff;
    margin: 10px;
}

.round {
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1;
}

.benefits {
    margin: 10px auto;
    border-radius: 20px;
}

.description{
    background-color: chartreuse;
    /* debug */
    height: 100px;
}

