* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PT Sans;
}

body {
    margin-top: 100px;
}

/* UTILITIES */
.flex {
    display: flex;
}

.fix-width {
    max-width: 1300px;
    width: 80%;
    margin: auto;
}

.jc-end {
    justify-content: end;
}

.fourty {
    width: 40%;
}

.fifty {
    width: 50%;
}

.sixty {
    width: 60%;
}

.m-auto {
    margin: auto;
}

.padding10 {
    padding: 10px;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
}

.violet {
    background-color: #9792e4;
    width: 100%;
    /* debug */
    height: 200px;
}

/* BODY */
header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    height: 100px;
    background-color: #0084fd;
}

.logo {
    line-height: 100px;
}

.nav {
    text-align: end;
}

.menu {
    color: white;
    height: 0px;
    width: 0%;
    overflow: hidden;
}

.hamb {
    color: white;
    line-height: 100px;
}

.card {
    background-color: #b5ddff;
    border-radius: 10px;
    margin: 10px;
    /* debug */
    height: 100px;
    width: 100%;
}

/* TABLET */
@media screen and (min-width: 768px){

    .tablet {
        display: flex;
    }

    .under {
        width: calc(100% / 3);
    }

    .first {
        width: 70%;
    }

    .second {
        width: 30%;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .hamb {
        display: none;
    }

    .menu {
        height: 100%;
        width: 100%;
    }

    .desktop {
        display: flex;
    }
}